.generator-picker {
  border: 1px solid var(--wa-color-surface-border);
  border-radius: 0.5rem;
  background-color: var(--wa-color-surface-default);
  border-radius: 5px;
  max-width: 500px;
}

.generator-picker .controls {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.125rem 1rem;
}