.geometry-check-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.geometry-check-indicator #check-geometry-now wa-icon {
  font-size: 24px;
  color: var(--wa-color-text-normal);
}

.geometry-check-indicator wa-progress-bar {
  min-width: 200px;
  --track-height: 4px;
}