/**
 * Scoped styles for PuzzlePaper component
 */

.puzzle-paper-stack {
  position: relative;
}

.puzzle-paper-stack canvas.puzzle-paper {
  /* canvas on top */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* above image */
  border: 1px solid #ccc;
  cursor: default;
}

.puzzle-paper-stack .background {
  display: block;
  position: relative;
  z-index: 1; /* below canvas */
  pointer-events: none;
  user-select: none;
}
